@import url(cores.css);


.suporteHeader {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suporteHeaderText {
    flex-direction: column;
    display: flex;
    margin: 20px 0;
    margin-bottom: 40px;
    text-align: center;
    
}

.suporteHeaderText h1 {
    font-size: 45px;
    color: var(--oliveWood);
    opacity: 0.6;
}

.suporteHeaderText p {
    font-size: 20px;
    color: var(--oliveWood);
    opacity: 0.5;
}

.suporteHeaderCorpo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 40px;
}

.suporteContainer{
    width: 55%;
    margin-left: 5%;
}

.suporteContainer label {
    color: var(--oliveWood);
    font-size: 14px;
    padding: 0 6px !important;
    border-radius: 5px;
    margin-bottom: 6px;
    position: absolute;
    background-color: var(--creamyBiscotti);
    top: -10px !important;
    left: 20px;
}

.suporteContainer input,
.suporteContainer textarea {
    color: var(--oliveWood);
    border: 1px solid var(--oliveWoodLow) !important;
    border-radius: 50px;
    padding:  15px;
    background-color: transparent;
    transition: all .3s ease;
}

.suporteContainer textarea {
    border-radius: 30px;
}

.suporteContainer input:hover,
.suporteContainer textarea:hover {
    box-shadow: 1px 1px 20px 1px var(--creamyBiscotti2)inset !important;
}

.suporteContainer input:focus,
.suporteContainer textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--oliveWood) !important;
    background-color: var(--creamyBiscotti2);
}

.suporteContainer input::placeholder,
.suporteContainer textarea::placeholder {
    font-size:medium;
    color: var(--oliveWood);
    opacity: 0.3;
}


.suporteContainer button {
    font-size: large;
    text-decoration: none;
    background-color: var(--tuscanRed);
    color: var(--white);
    border-radius: 50px;
    padding: 15px;
    transition: all .3s;
    border: 1px solid var(--tuscanRed);
}

.suporteContainer button:hover {
    box-shadow: 1px 1px 10px 1px var(--tuscanRed);
}


/*grupos de input*/
.colunaSuporteInput {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.colunaSuporteInput div {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.colunaSuporteInput div input,
.colunaSuporteInput div textarea,
.colunaSuporteInput button {
    width: 100%;
}


/*parte direita do contato*/

.suporteContainerRight {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 30px;
    width: 35% !important;
}

.suporteContent{
    display: flex;
    flex-direction: column;
}

.suporteContainerRight h5,
.suporteContainerRight p {
    color: var(--oliveWood);
}

.suporteContainerRight h5 {
    opacity: 0.6;
    font-size: 24px;
}

.suporteContainerRight p {
    opacity: 0.5;
    margin-bottom: 10px;
}

.suporteContainerRight a {
    font-size: 18px;
    color: var(--palidRed);
    text-decoration: underline !important;
}

.suporteContainerRight i {
    color: var(--palidRed);
}

.suporteContainerRight a:hover {
    color: var(--palidRedDark);
}
