:root {
    --white: #fffbf2;
    --black: #130000;
    --oliveWood: #210706;
    --tuscanRed: #891D1A;
    --tuscanRedLight: #891e1a2b;
    --palidRed: #6d2932;
    --palidRedDark: #561c24;
    --slateBlue: #707998;
    --creamyBiscotti: #F1E6D2;
    --creamyBiscotti2: #E8D8C4;
    --creamyBiscottiDark: #c7b7a3;

    --oliveWoodLow: #7a6865;
    --oliveWoodSuperLow: #e4ded6;
    --tuscanRedLow: #891e1a2e;
    --creamyBiscottiLow: #f1e6d237;
    --slateBlueLow: #7079982e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}