@import url(cores.css);



body {
    background-color: var(--creamyBiscotti);
}

/* Navbar */
.navbar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-radius: 50px;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--tuscanRed);
}

.menu {
    gap: 2px;
    border: 1px solid var(--tuscanRed);
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 4px;
    width: fit-content;
    border-radius: 50px;
}

.menu a {
    font-size: 18px;
    text-decoration: none;
    color: var(--tuscanRed);
    border-radius: 50px;
    margin: 0 3px;
    padding: 4px 10px;
    border: 1px solid transparent;
    transition: all .4s ease;
}

.menu a:hover {
    border: 1px solid var(--tuscanRed);
}

.login a {
    font-size: 18px;
    padding: 10px 32px;
    text-decoration: none;
    background-color: var(--tuscanRed);
    color: var(--white);
    border-radius: 50px;
    transition: all .3s;
}

.login a:hover {
    box-shadow: 1px 1px 10px 1px var(--tuscanRed);
}

@media (max-width: 700px) {
    .menu {
        top: unset;
        bottom: 1rem;
        border-radius: 20px;
        left: 0;
        right: 60%;
    }
}

/* Conteúdo */
.content {
    margin-top: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/*parte inicial da página*/
.mainHome {
    display: flex;
}

.mainLeftHome {
    padding: 40px;
    position: relative;
    background-image: url('../imagens/jardim5.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 80vh;
    overflow: hidden;
}

.mainLeftHome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    pointer-events: none;
}

.tagLeftHome {
    z-index: 1;
    display: flex;
    gap: 10px;
}

.tagLeftHome button {
    padding: 6px 10px !important;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: var(--white);
    transition: all .3s;
}

.tagLeftHome button:hover {
    background-color: var(--white);
    color: var(--oliveWood);
}

.tagLeftHome button.activeTag {
    background-color: var(--white);
    color: var(--oliveWood);
}

.textLeftHome {
    z-index: 1;
    line-height: 50px;
}

.textLeftHome h2,
.textLeftHome p {
    color: var(--white);
}

.textLeftHome h2 {
    font-size: 52px;
    font-weight: 400;
    margin: unset !important;
}

.textLeftHome p {
    font-size: 25px;
    font-weight: 200;
    margin-top: unset !important;
    margin-bottom: 10px;
}

.callBacktLeftHome a button {
    text-align: center;
    align-self: center !important;
    font-size: 20px;
    background-color: var(--white);
    color: var(--oliveWood);
    padding: 6px 12px !important;
    border-radius: 50px;
    border: none;
    transition: all .3s;
}

.callBacktLeftHome a i {
    text-align: center;
    font-size: 17px;
    background-color: var(--white);
    color: var(--oliveWood);
    padding: 14px !important;
    border-radius: 50px;
    border: none;
    transition: all .3s;
}

.callBacktLeftHome a button:hover,
.callBacktLeftHome a i:hover {
    background-color: var(--creamyBiscotti);
}

.mainRightHome {
    border-radius: 20px;
    display: flex;
    /* margin-top: 30px; */
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 50%;
}

.titleRightHome h1 {
    color: var(--oliveWood);
    font-size: 60px;
    margin: 0 20px;
    line-height: 70px;
    opacity: 0.6;
    font-weight: 400;
    text-align: left;
}

.anuncioRightHomeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.anuncioRightHome {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: var(--creamyBiscotti);
    padding: 15px;
    border-radius: 30px;
}

.anuncioRightHomeTxtContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.anuncioRightHomeActionTxt {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.anuncioRightHome .exclusive {
    font-size: 20px;
    width: fit-content;
    background-color: var(--creamyBiscotti2);
    color: var(--oliveWood);
    padding: 10px 15px !important;
    border-radius: 50px;
}

.anuncioRightHomeText h4,
.anuncioRightHomeText p {
    color: var(--oliveWood);
}

.anuncioRightHomeText h4 {
    font-size: 37px;
}

.anuncioRightHomeText p {
    opacity: 0.6;
    font-size: 23px;
}

.anuncioRightHome img {
    width: 230px !important;
    height: 260px;
    object-fit: cover;
    border-radius: 20px;
}

.anuncioRightHome a i {
    background-color: var(--creamyBiscotti2);
    color: var(--oliveWood);
    padding: 16px !important;
    border-radius: 40px;
    font-size: 22px;
    transition: all .3s;
}

.anuncioRightHome a i:hover {
    background-color: var(--creamyBiscottiDark);
}


/*parte média da página*/
.mediumHome {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 80px 10px;
}

.textMediumHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textMediumHomeLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.textMediumHomeRight {
    display: flex;
    width: 50%;
}

.textMediumHome h1,
.textMediumHome p {
    color: var(--oliveWood);
}

.textMediumHome h1 {
    font-size: 50px;
    font-weight: 500;
    opacity: 0.6;
}

.textMediumHome p {
    font-size: 26px;
    opacity: 0.5;
}

.tagRightHome .p-tabview-nav-content {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overscroll-behavior: contain auto;
    position: relative;
}


/*tab do medium home*/
.tagMediumHome {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tab-header-container {
    display: flex;
    align-items: center;
    position: relative;
}

.tab-header {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    flex-grow: 1;
    background-color: transparent;
    padding: 10px;
    border: none;
    margin: 0 40px;
    align-items: center;
    gap: 10px;
}

.tab-header::-webkit-scrollbar {
    display: none;
}

.tab-button {
    border-radius: 50px;
    border: 1px solid var(--creamyBiscottiDark);
    background-color: transparent;
    padding: 6px 10px !important;
    color: var(--creamyBiscottiDark);
    transition: all .3s;
    white-space: nowrap;
    font-size: 19px;
}

.tab-button.active {
    color: var(--palidRedDark);
    border-color: var(--palidRedDark);
    background-color: transparent;
}

.tab-button:hover {
    color: var(--palidRedDark);
    border-color: var(--palidRedDark);
}

.scroll-button {
    cursor: pointer;
    font-size: 27px;
    padding: 3px 15px !important;
    border: none;
    background-color: transparent;
    outline: none;
    z-index: 10;
    color: var(--palidRedDark);
    transition: all .3s;
    border-radius: 60px;
}

.scroll-button:hover {
    background-color: var(--palidRedDark);
    color: var(--creamyBiscotti);
    border-radius: 60px;
}

.scroll-button.left {
    position: absolute;
    left: 0;
}

.scroll-button.right {
    position: absolute;
    right: 0;
}

.tab-content {
    padding: 15px 0;
}

.tabContentMediumHome {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tabContentInterMediumHome {
    position: relative;
    width: 20%;
    transition: all .3s ease;
}

.tabContentInterMediumHome:hover {
    transform: translateY(-7px);
}

.tabContentInterMediumHome img {
    object-fit: cover;
     height: 350px; 
    /*width: 350px;*/
    width: 100%;
    /* height: 100%; */
    border-radius: 25px;
}

.tabContentInterMediumHome h5 {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    bottom: 0;
    margin: 20px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    padding: 3px 15px;
    border-radius: 50px;
    color: var(--creamyBiscotti);
    border: 1.7px dashed var(--creamyBiscotti);
}

/* end home*/

.endHome {
    margin: 130px 0;
    display: flex;
    gap: 40px;
    align-items: center;
}

.anuncioEndtHome {
    width: 30%;
    position: relative;
    background-image: url('../imagens/jardim2.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 70vh;
    overflow: hidden;
    padding: 30px;
}

.anuncioEndtHome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    pointer-events: none;
}

.anuncioEndHomeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    z-index: 1;
    background-color: transparent;
    backdrop-filter: blur(6px);
    padding: 20px;
    border-radius: 20px;
}

.anuncioEndHomeContent h4 {
    font-size: 36px;
    color: var(--creamyBiscotti);
    margin: unset;
    font-weight: 500;
}

.anuncioEndHomeContent p {
    margin: unset;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5rem;
    color: var(--creamyBiscotti);
    opacity: 0.8;
}

.anuncioEndHomeContent a button {
    font-size: 20px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid var(--creamyBiscotti);
    color: var(--creamyBiscotti);
    padding: 8px 20px;
    font-weight: 500;
    transition: all .3s ease;
}

.anuncioEndHomeContent button:hover {
    border-color: transparent;
}

/* faq end home */
.faqEndHome  {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faqEndHome h1{
    color: var(--oliveWood); 
    opacity: 0.6; 
    font-weight: 500; 
    font-size: 50px;  
    line-height: 57px;
}

.faqEndHome h3{
    color: var(--oliveWood); 
    opacity: 0.5; 
    font-weight: 400; 
    margin-bottom: 20px; 
    font-size: 25px;
}

.faqEndHome .faq {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faqEndHome .faq .faq-header {
    text-align: left;
    width: 100%;
    padding: 10px 17px;
    background-color: transparent;
    border: 1px solid var(--creamyBiscottiDark) !important;
    font-size: 25px !important;
    font-weight: 500;
    color: var(--oliveWood);
    opacity: 0.6;
    border-radius: 20px !important;
}

.faqEndHome .faq .faq-header.collapsed {
    padding-bottom: unset;
    color: var(--oliveWood);
    font-weight: 600;
    border: 1px solid var(--oliveWood) !important;
    border-bottom: none !important;
    border-radius: 10px 10px 0 0 !important;
}

.faqEndHome .faq .faq-body {
    padding-top: unset;
    color: var(--oliveWood);
    padding: 17px;
    border-radius: 0 0 10px 10px !important;
    border: 1px solid var(--oliveWood) !important;
    border-top: none !important;
}

.faqEndHome .accordion-body {
    padding-top: unset !important;
}

/*news letter final home*/
.newsLetterHome {
    margin-bottom: 30px;
    position: relative;
    background-image: url('../imagens/jardim6.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    overflow: hidden;
    padding: 30px;
}

.newsLetterHome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    border-radius: 20px;
    pointer-events: none;
}


.newsLetterHomeText {
    margin-top: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsLetterHomeText h2 {
    font-size: 50px;
    font-weight: 400;
    color: var(--creamyBiscotti);
    margin-bottom: 20px;
}

.newsLetterHomeSubscribe{
    display: flex;
    gap:20px;
}

.newsLetterHomeSubscribe input {
    background-color: transparent;
    font-size: 20px;
    border-radius: 50px;
    backdrop-filter: blur(8px);
    border: 1px solid var(--creamyBiscotti);
    padding: 7px 20px;
    color: var(--creamyBiscotti);
    transition: all .2s ease;
}

.newsLetterHomeSubscribe input:focus {
    outline: none;
    border: 2px solid var(--creamyBiscotti);
}

.newsLetterHomeSubscribe input::placeholder {
    color: var(--creamyBiscotti);
}

.newsLetterHomeSubscribe button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--creamyBiscotti);
    border-radius: 50px;
    border: 1px solid var(--creamyBiscotti);
    padding: 7px 20px;
    color: var(--oliveWood);
    transition: all .3s ease;
}

.newsLetterHomeSubscribe button:hover {
    background-color: var(--creamyBiscottiDark);
    border-color: var(--creamyBiscottiDark);
}

/*estilo do rodape*/
.rodape{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin: 10px;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: var(--tuscanRed);
    padding: 30px;
    border-radius: 20px;
}

.rodape::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    pointer-events: none;
}

.colunaRodape{
    width: 20%;
}

.colunaRodape div{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.colunaRodape h5{
    z-index: 1;
    margin: unset;
    color: var(--creamyBiscotti);
    font-size: 15px;
}

.colunaRodape a{
    text-decoration: none;
    z-index: 1 !important;
    margin: unset;  
    color: var(--creamyBiscotti);
    font-size: 14px;
    opacity: 0.8;
}

.colunaRodapeCentral{
    width: 55%;
}

.colunaRodapeCentral a{
    text-decoration: none;
    color: var(--creamyBiscotti);
    opacity: 1;
    z-index: 1;
    font-size: xx-large;
    font-weight: bold;
}