.content {
    display: flex;
    gap: 50px;
}

.mainHome {
    width: 100%;
    display: flex;
    gap: 20px;
}

.mainLeftHome {
    padding: 40px;
    position: relative;
    background-image: url('../imagens/jardim10.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.mainLeftHome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    pointer-events: none;
}

.textLeftHome {
    z-index: 1;
    text-align: center;
    line-height: 50px;
}

.textLeftHome h2,
.textLeftHome p {
    color: var(--white);
}

.textLeftHome h2 {
    font-size: 72px;
    font-weight: 600;
    margin: unset !important;
}

.textLeftHome p {
    font-size: 30px;
    font-weight: 300;
    margin-top: unset !important;
    margin-bottom: 10px;
}


.valores_sobreNos {
    margin: 40px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.valores_sobreNos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    height: 300px;
    border-radius: 20px;
    border: 2px dashed var(--creamyBiscotti2);
    transition: all .3s ease-in-out;
}

.valores_sobreNos div h4 {
    position: relative;
    z-index: 1;
    font-size: 29px;
    color: var(--oliveWood);
    transition: all .3s ease;
}

.valores_sobreNos div p {
    z-index: 1;
    position: relative;
    font-size: 19px;
    color: var(--oliveWoodLow);
    transition: all .3s ease;
}

.valores_sobreNos div:hover h4 {
    color: var(--creamyBiscotti);
}

.valores_sobreNos div:hover p {
    color: var(--creamyBiscotti2);
}

.valores_sobreNos .valor:hover {
    position: relative;
    border-color: transparent;
    background-image: url('../imagens/jardim7.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .4s ease-in-out;
}

.valores_sobreNos .missao:hover {
    position: relative;
    border-color: transparent;
    background-image: url('../imagens/jardim8.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .4s ease-in-out;
}


.valores_sobreNos .historia:hover {
    position: relative;
    border-color: transparent;
    background-image: url('../imagens/jardim11.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .4s ease-in-out;
}


.valores_sobreNos .valor:hover::after,
.valores_sobreNos .historia:hover::after,
.valores_sobreNos .missao:hover::after {
    content: "";
    border: 2px solid transparent;
    position: absolute;
    backdrop-filter: blur(7px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    pointer-events: none;
    transition: all .4s ease-in-out;
}

.parteIhistoria, .parteIIhistoria{
    margin: 40px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.parteIhistoria img, .parteIIhistoria img{
width: 40%;
height: 500px;
object-fit: cover;
border-radius: 40px;
}

.txt_parteIhistoria, .txt_parteIIhistoria{
    width: 57%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.txt_parteIIhistoria{
    text-align: end;
}

.txt_parteIhistoria h5, .txt_parteIIhistoria h5{
    font-size: 25px;
    font-weight: 500;
}

.txt_parteIhistoria h4, .txt_parteIIhistoria h4{
    font-size: 55px;
    font-weight: 500;
}


.newsLetterHome {
    margin-bottom: 30px;
    position: relative;
    background-image: url('../imagens/jardim13.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    overflow: hidden;
    padding: 30px;
}

.newsLetterHome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
    border-radius: 20px;
    pointer-events: none;
}


.newsLetterHomeText {
    margin-top: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsLetterHomeText h2 {
    font-size: 50px;
    font-weight: 400;
    color: var(--creamyBiscotti);
    margin-bottom: 20px;
}

.newsLetterHomeSubscribe{
    display: flex;
    gap:20px;
}

.newsLetterHomeSubscribe input {
    background-color: transparent;
    font-size: 20px;
    border-radius: 50px;
    backdrop-filter: blur(8px);
    border: 1px solid var(--creamyBiscotti);
    padding: 7px 20px;
    color: var(--creamyBiscotti);
    transition: all .2s ease;
}

.newsLetterHomeSubscribe input:focus {
    outline: none;
    border: 2px solid var(--creamyBiscotti);
}

.newsLetterHomeSubscribe input::placeholder {
    color: var(--creamyBiscotti);
}

.newsLetterHomeSubscribe button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--creamyBiscotti);
    border-radius: 50px;
    border: 1px solid var(--creamyBiscotti);
    padding: 7px 20px;
    color: var(--oliveWood);
    transition: all .3s ease;
}

.newsLetterHomeSubscribe button:hover {
    background-color: var(--creamyBiscottiDark);
    border-color: var(--creamyBiscottiDark);
}
